:root {
  /* --colWidth:           320px;
  --breakPoint:         560px; */
  --max-width:          700px;
  --main-col-padding:   1rem;
  --profile-pic-width:  56px;

  --sidebar-bg:         34,34,34;
  --sidebar-fg:         255,255,255;
  --body-bg:            #FFFFFF;
  --fg-color:           34,34,34;
  --accent-color:       #006d8f;
}

body {
  color: rgba( var(--fg-color), 1);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: #008cb4;
}

a.more::after {
  content: " \2192"; /* (RIGHTWARDS ARROW)*/
}

h1 a, .h1 a,
h2 a, .h2 a,
h3 a, .h3 a,
h4 a, .h4 a {
  color: rgba(var(--fg-color), 1);
}

h1 a:hover, .h1 a:hover,
h2 a:hover, .h2 a:hover,
h3 a:hover, .h3 a:hover,
h4 a:hover, .h4 a:hover {
  color: rgba(var(--fg-color), .8);
}

main {
  padding-left: 1em;
  padding-right: 1em;
}

header {
  padding: 1em 1em 1em;
  display: flex;
  align-items: center;
  background: rgba( var(--sidebar-bg), 1 );
  margin-bottom: 2em;
}

header .profile {
  justify-self: end;
  display: block;
  width: var(--profile-pic-width);
  margin-right: calc( var( --main-col-padding ) * 0.5 );
}

header .profile img {
  display: block;
  border-radius: 999px;
}

header .logo {
  font-family: var(--font-accent);
  font-size: var(--font-accent-xxlarge);
  font-weight: 800;
  line-height: var(--leading-large);
  letter-spacing: 1px;
  color: var(--body-bg);
  align-self: center;
}

.container-grid {
}

.container-grid::before {

}

.offset-grid {

}

.site {
  grid-area: content;
}

section.intro h1 {
  font-size: var(--font-accent-massive);
  margin-bottom: 1rem;
}

section.intro {
  margin-top: 2em;
  margin-bottom: 5em;
}

section.intro p:first-of-type {
  font-size: var(--font-base-xlarge);
  line-height: var(--leading-large);
}

.articles {
  margin-bottom: 5em;
}

.articles article {
  margin-top: 2em;
  margin-bottom: 2em;
}

.byline {
  font-size: var(--font-base-small);
  color: rgba( var(--fg-color), 0.6);
}

.byline .short {
  display: none;
}

.break-all {
  word-break: break-all;
}

.visually-hidden { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}


@media( min-width: 640px  ) {
  :root {
    --main-col-padding: 40px;
  }

  main {
    padding: 0;
  }

  header {
    background: transparent;
    padding: 1em 0;
    margin-bottom: 0;
  }

  header .logo {
    color: var(--fg-color);
  }

  .container-grid {
    display: grid;
    grid-template-columns: calc( var(--profile-pic-width) + ( var(--main-col-padding) ) ) minmax(0, auto);
    grid-template-areas: "sidebar content"; 
    grid-template-rows: 1fr;
    min-height: 100vh;
  }
  
  .container-grid::before {
    content: "";
    background-color: rgba( var(--sidebar-bg), 1);
    grid-column: 1;
    grid-row: 1;
  }
  
  .offset-grid {
    display: grid;
    grid-template-columns: calc( var(--profile-pic-width) + ( var(--main-col-padding)  ) )  minmax(0, auto);
    margin-left: calc( -1 * ( var(--profile-pic-width) + ( var(--main-col-padding) ) ) );
    grid-template-areas: "sidebar content";
  }

  .in-sidebar {
    grid-area: sidebar;
  }
  
  .in-content {
    grid-area: content;
    max-width: calc(var(--max-width) + var(--main-col-padding) + var(--main-col-padding));
    padding-left: var(--main-col-padding);
  }

  .articles > h2 {
    padding-left: var(--main-col-padding);
  }

  .byline {
    text-align: right;
    color: rgba( var(--sidebar-fg), 0.9);
    margin-right: calc( var( --main-col-padding ) * 0.5 );
  }

  .byline .short {
    display: inline;
  }

  .byline .long {
    display: none;
  }

}

@media( min-width: 1060px  ) {
  

  .container-grid {
    display: grid;
    grid-template-columns:  minmax(120px, calc( 50vw - ( var(--max-width) + var(--main-col-padding) + var(--main-col-padding) ) * 0.5 ) )  minmax(0, auto);
    grid-template-areas: "sidebar content"; 
    grid-template-rows: 1fr;
    min-height: 100vh;
  }
  
  .container-grid::before {
    content: "";
    grid-column: 1;
    grid-row: 1;
  }

  .offset-grid {
    display: grid;
    grid-template-columns:  minmax(120px, calc( 50vw - ( var(--max-width) + var(--main-col-padding) + var(--main-col-padding) ) * 0.5 ) )  minmax(0, auto);
    margin-left: calc( -1 * ( 50vw - ( var(--max-width) + var(--main-col-padding) + var(--main-col-padding) ) * 0.5 )  );
    grid-template-areas: "sidebar content";
  }

  .byline .short {
    display: none;
  }

  .byline .long {
    display: inline;
  }

}

.margin-bottom-s {
  margin-bottom: calc( var(--flow-space) )
}

.margin-bottom-m {
  margin-bottom: calc( var(--flow-space) * 2 )
}

.margin-bottom-l {
  margin-bottom: calc( var(--flow-space) * 3 )
}