@layer layout {
  .center {
    --center-max-width: var(--max-width);

    box-sizing: content-box;
    max-inline-size: var(--center-max-width);
    margin-inline: auto;
    padding-inline-start: var(--space-s);
    padding-inline-end: var(--space-s);
  }

  .cluster {
    display: flex;
    flex-wrap: wrap;
    padding-inline: 0;
    gap: var(--space-s, 1rem);
  }

  .grid {
    --grid-cell-min-width: 200px;
    display: grid;
    grid-gap: var(--space-s);
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--grid-cell-min-width), 100%), 1fr)
    );
  }

  .split {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter, var(--space-s-l));
    align-items: var(--repel-vertical-alignment, center);
    justify-content: space-between;
  }

  .skip-link {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    white-space: nowrap !important;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    padding: var(--space-3xs) var(--space-2xs);
  }

  .skip-link:focus {
    position: absolute !important;
    width: auto !important;
    height: auto !important;
    left: var(--space-xs) !important;
    right: var(--space-xs) !important;
    top: var(--space-xs) !important;
    overflow: visible !important;
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    white-space: inherit !important;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    z-index: 999;
  }

  .logo {
    position: relative;
    font-family: var(--font-heading);
    font-size: var(--text-size-4);
    font-weight: 1000;
    letter-spacing: -0.06em;
    text-decoration: none;
  }

  .logo > :first-child {
    position: relative;
    z-index: 10;
    color: var(--primary);
  }
  .logo > :last-child {
    position: relative;
    z-index: 5;
  }

  .masthead {
    --center-max-width: 64rem;
  }

  .page-title {
    --center-max-width: var(--max-width);
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-end: 3rem;
  }

  .library {
    --center-max-width: 100%;
  }

  .books {
    --grid-cell-min-width: 200px;
    --grid-cell-max-width: 300px;
    row-gap: var(--space-s-l);
  }

  .book img {
    width: 100%;
    aspect-ratio: 9/14;
    object-fit: cover;
  }

  .home > section {
    margin-block-start: var(--space-m-xl);
  }

  .latest__card {
    --flow-space: var(--space-2xs);
  }

  .rating {
    line-height: 1;
  }

  .rating .star {
    position: relative;
    display: inline-block;
    filter: grayscale(1);
  }

  .rating .star--filled {
    filter: none;
  }

  .rating .star--half {
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background: #fff;
      height: 100%;
      width: 50%;
      z-index: 1;
    }
  }

  .articles > * + * {
    margin-block-start: var(--space-s-l);
  }

  footer {
    padding-block-start: var(--space-m-xl);
  }
}
