<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/assets/styles/reset.css" type="text/css" />
    <link rel="stylesheet" href="/assets/styles/typography.css" type="text/css" />
    <link rel="stylesheet" href="/assets/styles/styles.css" type="text/css" />
    <link rel="stylesheet" href="/assets/styles/prism-vs-light.css" type="text/css" />

    <link rel="preload" href="/assets/fonts/inter/Inter-Var-Roman-Latin.woff2" as="font" crossorigin />
    <link rel="preload" href="/assets/fonts/recursive/recursive-variable-latin-basic.woff2" as="font" crossorigin />
  </head>
  <body class="">
      <div class="container">
        <header class="header">
          <a href="/" class="profile">
            <img src="/assets/images/me.jpg" alt="Profile Photo" />
          </a>
          <div class="content logo visually-hidden">
            Chris Pymm
          </div>
        </header>
        <main class="site">
          {{ content | safe }}
        </main>
      </div>
  </body>
</html>