<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/styles/styles.css" type="text/css" />
  </head>
  <body class="">
    <div class="grid scale sans">
      <div class="xs">
        {{ excerpt }}
      </div>
      <div class="s">
        {{ excerpt }}
      </div>
      <div class="m">
      {{ excerpt }}
      </div>
      <div class="l">
      {{ excerpt }}
      </div>
      <div class="xl">
      {{ excerpt }}
      </div>
      <div class="xxl">
      {{ excerpt }}
      </div>
    </div>

    <div class="grid scale serif">
      <div class="xs">
        {{ excerpt }}
      </div>
      <div class="s">
        {{ excerpt }}
      </div>
      <div class="m">
      {{ excerpt }}
      </div>
      <div class="l">
      {{ excerpt }}
      </div>
      <div class="xl">
      {{ excerpt }}
      </div>
      <div class="xxl">
      {{ excerpt }}
      </div>
    </div>   

    <div class="grid scale recursive">
      <div class="xs">
        {{ excerpt }}
      </div>
      <div class="s">
        {{ excerpt }}
      </div>
      <div class="m">
      {{ excerpt }}
      </div>
      <div class="l">
      {{ excerpt }}
      </div>
      <div class="xl">
      {{ excerpt }}
      </div>
      <div class="xxl">
      {{ excerpt }}
      </div>
    </div>   
  </body>
</html>